{
    box-sizing: border-box; 
    font-size: 0px;
}

#lightPink {
    margin: auto;
    height: 190px;
    background-color: #F5C6D6;
    border: 5px white solid;
    display: inline-block;
    width: 99%;
    transition: all 1s ease 0s
}

#lightPink:hover {
    background-color: rgb(210, 207, 255);
    height: 500px;
    width: 99%
}

.darkPink {
    margin: auto;
    height: 190px;
    display: inline-block;
    width: 24%;
    border: 5px white solid;
    background-color: #EE2E84;
    transition: all 2s ease 0s
}

.darkPink:hover {
    height: 300px;
    width: 20%;
}

.blue {
    margin: auto;
    height: 190px;
    background-color: #85CFD8;
    display: inline-block;
    width: 49%;
    border: 5px white solid;
    transition: all 2.5s cubic-bezier(0.18, 1.58, 1, 1.98) 0s; 0s
}

.blue:hover {
    border-radius: 50%;
    height: 700px;
    width: 700px;
}

#green {
    margin: auto;
    height: 190px;
    background-color: #8DC63F;
    display: inline-block;
    width: 74%;
    border: 5px white solid;
    transition: all 2s cubic-bezier(0.18, 1.58, 1, 1.98) 0s; 0s
}

#green:hover {
    width: 500px;
}

#orange {
    margin: auto;
    height: 190px;
    background-color: #E76E34;
    display: inline-block;
    width: 24%;
    border: 5px white solid;
}
